<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <h4>{{ site.subtitle }}</h4>
	      <img src="{{ site.baseurl }}/images/James-Mendel.png" alt="James Mendel" style="border-radius: 7px; width:175px;" >
        <br><br>
        {% include sidebar-pages.html %}

        <p>By Category</p>
        <a href="{{ site.baseurl }}/coursework">All</a><br>
        <a href="{{ site.baseurl }}/coursework/eecs">EECS</a><br>
        <a href="{{ site.baseurl }}/coursework/math">MATH</a><br>
        <a href="{{ site.baseurl }}/coursework/other">Misc</a><br>
        <a href="{{ site.baseurl }}/coursework/honors">Honors</a><br>
        <a href="{{ site.baseurl }}/coursework/in-progress">In Progress</a><br>
      </header>
      <section> 
        {{ content }}
      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
  </body>
</html>
